<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong><em>Calculador de Dias</em></strong> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculador de Dias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-item>
      <ion-label><strong><em>Fecha de inicio</em> </strong> </ion-label>
      <ion-datetime [(ngModel)]="startDate" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label><strong><em>Fecha de fin</em></strong></ion-label>
      <ion-datetime [(ngModel)]="endDate" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-button expand="full" (click)="calculateDays()">Calcular Días</ion-button>

    <div *ngIf="daysDifference !== null" class="result">
      <p>Días entre las fechas: {{ daysDifference }}</p>
    </div>
  </div>
</ion-content>